.alice{
    &-transactions-panel{
        &_header{
            color: #FFFFFF;
            text-align: center;
            font-weight: normal;
            font-size: 1.6em;
        }
    
        &-table *{
            box-sizing: initial;
            -webkit-box-sizing: initial;
        }
    
        .ReactTable .rt-thead .rt-resizable-header-content{
            color: rgba(255, 255, 255, 0.35);
        }
    
        .rt-th,
        .rt-td,{
            text-align: left;
            padding-left: 1em !important;
        }
    
        .rt-noData{
            height: 3.5em;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0.8em;
            color: rgba(254, 254, 254, 0.5);
            position: relative;
            text-align: center;
        }
        .rt-tr-group{
            margin-top: 0.3em;
            color: #FFFFFF;
            height: 3.5em;
            background-color: rgba(255,255,255,0.1);
            border-radius: 0.8em;
    
            .rt-td{
                align-self: center;
            }
    
            &:last-child.success,
            &.success{
                background-color: rgba(20, 217, 0, 0.1);
                border: solid 2px rgba(20, 217, 0, 0.6);
            }
    
            &:last-child.pending,
            &.pending{
                background-color: rgba(254, 184, 68, 0.1);
                border: solid 2px rgba(254, 184, 61, 0.6);
            }
        }
    }
    
    &-transactions-table_header-from,
    &-transactions-table_header-to{
        color: #44b6fe;
    }
    
    &-transactions-list_item-from,
    &-transactions-list_item-to{
        color: #44b6fe;
        text-decoration: none;
    }
}