button.tx-send{
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #4facfe, #00f2fe);

    font-size: 1.3em;
    font-weight: 800;
    color: #101c3c;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    &:active,
    &.active{
        background: #FFF;
    }

    &:disabled,
    .disabled{
        background-image: linear-gradient(to right, #26537b, #23777b);
        cursor: not-allowed;
    }
}