@font-face {
    font-family: 'Rogan';
    src: url('/fonts/hinted-Rogan-Regular.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rogan';
    src: local('Rogan Regular'), url('/fonts/hinted-Rogan-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rogan';
    src: url('/fonts/hinted-Rogan-ExtraBold.eot');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Rogan';
    src: local('Rogan ExtraBold'), url('/fonts/hinted-Rogan-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
