html {
    height: 100%;
    position: relative;

    body {
        margin: 0;
        padding: 0;
        font-family: Rogan, sans-serif;
        min-height: 100%;
        display: flex;

        #app {
            flex: 1 1;
            display: flex;

            .container {
                flex: 1 1;
                display: flex;
                flex-direction: column;
                max-width: 1170px;
                margin: 0 auto;
                padding-top: 2.5em
            }
        }
    }
}
