@-webkit-keyframes checkmark {
0% {
      height: 0;
      width: 0;
      opacity: 0;
    }

33% {
  width: 10px;
  height: 0;
  visibility: visible;
}
100% {
    opacity: 1;
  }
}

.tx-checkmark {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}

.tx-checkmark{
    &:after {
        opacity: 1;
        
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &.tx-checkmark-with-animation {
        &:after{
            opacity: 0;
        -webkit-animation: checkmark .8s forwards;
        -moz-animation: checkmark .8s forwards;
        -o-animation: checkmark .8s forwards;
        animation: checkmark .8s forwards;
        animation-name: checkmark;
        animation-duration: 1s;
        }
    }
}

.tx-checkmark:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #14d900;
    border-top: 4px solid #14d900;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 10px;
}
