.alice{
    &-tab-panel{
        flex: 1;
        background: rgba(0, 0, 0, 0.6);
        border: solid 2px rgba(255, 255, 255, 0.18);
        border-radius: 1em;
        padding: 3em 6em;
        display: -ms-flexbox;
    }

    &-input-panel{
        display: flex;
        position: relative;
        
        &_address{
            display: flex;
            flex: 1 1;
            font-size: 1.25em;
            margin-right: 1.5em;
            height: 3.5em;
            justify-content: center;

            &-dropdown{
                width: 1em;

                &.opened {
                    transform: rotate(180deg);
                }
            }
            &-text{
                background: none;
                border: none;
                font-size: 1em;
                outline: none;
                color: #FFFFFF;
                flex: 1 1;

                border: solid 0.1em rgba(255, 255, 255, 0.35);
                border-radius: 0.8em;

                &.is-open{
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    border-color: rgba(255, 255, 255, 0.6);
                }

                .Select-placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }

                .Select-control{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 1.5em;
                    cursor: pointer;

                    .Select-multi-value-wrapper{
                        display: flex;
                        flex: 1 1;
                        margin-bottom: -3px;
                    }
                    .Select-input{
                        outline: none;
                    }
                    .Select-arrow-zone{
                        margin-bottom: -3px;
                    }
                }

                .Select-menu{
                    .select-address-option{
                        padding: 0.75em 1.5em;
                        cursor: pointer;
                        color: #44b6fe;


                        &:hover,
                        &:focus{
                            background-color: rgba(255, 255, 255, 0.12);
                            color: #FFFFFF;
                        }
                    }

                    border: solid 0.1em rgba(255, 255, 255, 0.6);
                    border-top: 0;
                    margin: 0.1em -0.1em;
                    border-bottom-left-radius: 0.8em;
                    border-bottom-right-radius: 0.8em;
                }
            }
        }

        &_amount{
            font: inherit;
            font-size: 1em;
            border: solid 0.1em rgba(255, 255, 255, 0.35);
            border-radius: 0.8em;
            height: 3.5em;
            align-items: center;
            padding: 0.2em 4em 0 1.5em;
            background: none;
            outline: none;
            color: #FFFFFF;
            width: 100%;
            box-sizing: border-box;

            &:focus {
                border-color: rgba(255, 255, 255, 0.6);
            }

            &-wrapper {
                flex: 1 1;
                font-size: 1.25em;
                margin-right: 1.5em;

                position: relative;
            }

            &::-webkit-input-placeholder{
                color: rgba(255, 255, 255, 0.6);
            }
            &:-moz-placeholder{
                color: rgba(255, 255, 255, 0.6);
            }
            &::-moz-placeholder{
                color: rgba(255, 255, 255, 0.6);
            }
            &:-ms-input-placeholder{
                color: rgba(255, 255, 255, 0.6);
            }
            &::-ms-input-placeholder{
                color: rgba(255, 255, 255, 0.6);
            }

            &::placeholder{
                color: rgba(255, 255, 255, 0.6);
                opacity: 1;
            }

            &-max{
                position: absolute;
                right: 1.5em;
                top: 53%;
                transform: translateY(-50%);
                color: #44b6fe;
                background: none;
                border: none;
                font-size: 1em;
                cursor: pointer;
                outline: none;
                font-family: Rogan, sans-serif;

                &:hover,
                &.hover{
                    color: #FFFFFF;
                }
            }
        }

        &_send{
            &_button{
                width: 170px;
                height: 70px;
                border: none;
                border-radius: 15px;
                background-image: linear-gradient(to right, #4facfe, #00f2fe);

                font-size: 1.3em;
                font-weight: 800;
                color: #101c3c;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;

                &:active{
                    background: #FFF;
                }
            }
        }
    }

    &-panel-separ{
        margin: 3em -6em;
        border: none;
        height: 2px;
        opacity: 0.18;
        background-color: #ffffff;
    }

}

@keyframes border-bottom-radius-out {
    from {
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
    }
    to {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@keyframes border-bottom-radius-in {
    from {
        opacity: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    to {
        opacity: 1;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
    }
}